<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Elysium.Theme" version="2.0.4" targetFramework="net453" />
  <package id="EntityFramework.Core" version="7.0.0-rc1-11882" targetFramework="net453" />
  <package id="EntityFramework.Migrations" version="7.0.0-rc1-11882" targetFramework="net453" />
  <package id="EntityFramework.Relational" version="7.0.0-rc1-11882" targetFramework="net453" />
  <package id="EntityFramework.SqlServer" version="7.0.0-rc1-11882" targetFramework="net453" />
  <package id="Extended.Wpf.Toolkit" version="2.3" targetFramework="net453" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.5" targetFramework="net451" />
  <package id="Ix-Async" version="1.2.3-beta" targetFramework="net453" />
  <package id="MahApps.Metro" version="1.0.0.0" targetFramework="net453" />
  <package id="MahApps.Metro.Resources" version="0.4.0.0" targetFramework="net453" />
  <package id="MahApps.Metro.Resources.Standalone" version="0.1.0.0" targetFramework="net451" />
  <package id="Microsoft.Framework.ConfigurationModel" version="1.0.0-rc1-10666" targetFramework="net453" />
  <package id="Microsoft.Framework.DependencyInjection" version="1.0.0-rc1-10695" targetFramework="net453" />
  <package id="Microsoft.Framework.Logging" version="1.0.0-rc1-10674" targetFramework="net453" />
  <package id="Microsoft.Framework.Logging.Interfaces" version="1.0.0-rc1-10674" targetFramework="net453" />
  <package id="Microsoft.Framework.OptionsModel" version="1.0.0-rc1-10673" targetFramework="net453" />
  <package id="ModernUI.WPF" version="1.0.6" targetFramework="net451" />
  <package id="Remotion.Linq" version="1.15.15.0" targetFramework="net453" />
  <package id="System.Collections.Immutable" version="1.1.32-beta" targetFramework="net453" />
  <package id="System.Data.Common" version="1.0.0-rc1-10634" targetFramework="net453" />
  <package id="System.Data.SqlClient" version="1.0.0-rc1-10672" targetFramework="net453" />
  <package id="TCD.Controls" version="3.1.0" targetFramework="net451" />
</packages>