<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.2-beta1" targetFramework="net451" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.0.0.0004" targetFramework="net451" />
  <package id="Magick.NET-Q16-AnyCPU.Sample" version="7.0.0.0004" targetFramework="net451" />
</packages>