<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CodeFirstSeeder" version="1.0.3" targetFramework="net453" />
  <package id="CsvHelper" version="2.6.0" targetFramework="net453" />
  <package id="EntityFramework" version="6.1.1" targetFramework="net453" />
  <package id="EntityFramework.Seeder.EF6" version="0.2.1" targetFramework="net453" />
  <package id="Ix-Async" version="1.2.2-withwpa81" targetFramework="net453" />
  <package id="MahApps.Metro" version="1.0.0.0" targetFramework="net453" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8854.2" targetFramework="net45" />
</packages>