<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CodeFirstSeeder" version="1.0.3" targetFramework="net453" />
  <package id="CsvHelper" version="2.6.0" targetFramework="net453" />
  <package id="EntityFramework" version="6.1.2-beta2" targetFramework="net453" />
  <package id="EntityFramework.Seeder.EF6" version="0.2.1" targetFramework="net453" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8854.2" targetFramework="net45" />
</packages>